<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>OPTIMA Dashboard</display-name>
	<welcome-file-list>
		<welcome-file>/login</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>org.eclipse.jetty.servlet.Default.dirAllowed</param-name>
		<param-value>false</param-value>
	</context-param>
	<servlet>
		<servlet-name>app</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
		<multipart-config>
			<max-file-size>20848820</max-file-size>
			<max-request-size>418018841</max-request-size>
			<file-size-threshold>1048576</file-size-threshold>
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>app</servlet-name>
		<url-pattern>/login</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/index</url-pattern>
		<url-pattern>/search</url-pattern>
		<url-pattern>/accessType</url-pattern>
		<url-pattern>/accessTypeData</url-pattern>
		<url-pattern>/createAccessType</url-pattern>
		<url-pattern>/createAccessTypeForm</url-pattern>
		<url-pattern>/createAccessTypeResult</url-pattern>
		<url-pattern>/editAccessType</url-pattern>
		<url-pattern>/editAccessTypeForm</url-pattern>
		<url-pattern>/editAccessTypeResult</url-pattern>
		<url-pattern>/createMemberCredential</url-pattern>
		<url-pattern>/createMemberCredentialForm</url-pattern>
		<url-pattern>/createMemberCredentialResult</url-pattern>
		<url-pattern>/account</url-pattern>
		<url-pattern>/createAccount</url-pattern>
		<url-pattern>/createAccountForm</url-pattern>
		<url-pattern>/createAccountResult</url-pattern>
		<url-pattern>/editAccount</url-pattern>
		<url-pattern>/editAccountForm</url-pattern>
		<url-pattern>/editAccountResult</url-pattern>
		<url-pattern>/accountDataAll</url-pattern>
		<url-pattern>/accountDetail</url-pattern>
		<url-pattern>/accountPermissionData</url-pattern>
		<url-pattern>/createAccountPermission</url-pattern>
		<url-pattern>/createAccountPermissionForm</url-pattern>
		<url-pattern>/createAccountPermissionResult</url-pattern>
		<url-pattern>/editAccountPermission</url-pattern>
		<url-pattern>/editAccountPermissionForm</url-pattern>
		<url-pattern>/editAccountPermissionResult</url-pattern>
		<url-pattern>/deleteAccountPermission</url-pattern>
		<url-pattern>/deleteAccountPermissionResult</url-pattern>
		<url-pattern>/currency</url-pattern>
		<url-pattern>/currencyData</url-pattern>
		<url-pattern>/createCurrency</url-pattern>
		<url-pattern>/createCurrencyForm</url-pattern>
		<url-pattern>/createCurrencyResult</url-pattern>
		<url-pattern>/editCurrency</url-pattern>
		<url-pattern>/editCurrencyForm</url-pattern>
		<url-pattern>/editCurrencyResult</url-pattern>
		<url-pattern>/accountSelect</url-pattern>
		<url-pattern>/transactionHistory</url-pattern>
		<url-pattern>/transactionHistoryData</url-pattern>
		<url-pattern>/submitLogin</url-pattern>
		<url-pattern>/message</url-pattern>
		<url-pattern>/sendMessage</url-pattern>
		<url-pattern>/composeMessage</url-pattern>
		<url-pattern>/virtualAccountEvent</url-pattern>
		<url-pattern>/virtualAccountEventData</url-pattern>
		<url-pattern>/virtualAccountBilling</url-pattern>
		<url-pattern>/virtualAccountBillingData</url-pattern>
		<url-pattern>/createVAEvent</url-pattern>
		<url-pattern>/createVABilling</url-pattern>
		<url-pattern>/createVAEventForm</url-pattern>
		<url-pattern>/createVABillingForm</url-pattern>
		<url-pattern>/createVAEventResult</url-pattern>
		<url-pattern>/createVABillingResult</url-pattern>
		<url-pattern>/deleteVAEvent</url-pattern>
		<url-pattern>/deleteVABilling</url-pattern>
		<url-pattern>/deleteVABillingResult</url-pattern>
		<url-pattern>/setting</url-pattern>
		<url-pattern>/editProfile</url-pattern>
		<url-pattern>/accountTransferData</url-pattern>
		<url-pattern>/transferBankAccount</url-pattern>
		<url-pattern>/transferBankAccountInquiry</url-pattern>
		<url-pattern>/transferBankAccountPayment</url-pattern>
		<url-pattern>/transferMember</url-pattern>
		<url-pattern>/member</url-pattern>
		<url-pattern>/memberData</url-pattern>
		<url-pattern>/accountData</url-pattern>
		<url-pattern>/createMember</url-pattern>
		<url-pattern>/createMemberForm</url-pattern>
		<url-pattern>/createMemberResult</url-pattern>
		<url-pattern>/detailMember</url-pattern>
		<url-pattern>/detailMemberPartner</url-pattern>
		<url-pattern>/editMember</url-pattern>
		<url-pattern>/editMemberForm</url-pattern>
		<url-pattern>/editMemberResult</url-pattern>
		<url-pattern>/createGroup</url-pattern>
		<url-pattern>/createGroupForm</url-pattern>
		<url-pattern>/createGroupResult</url-pattern>
		<url-pattern>/transferMemberInquiry</url-pattern>
		<url-pattern>/transferMemberPayment</url-pattern>
		<url-pattern>/changeCredential</url-pattern>
		<url-pattern>/changeCredentialResult</url-pattern>
		<url-pattern>/createBankAccount</url-pattern>
		<url-pattern>/createBankAccountForm</url-pattern>
		<url-pattern>/createBankAccountResult</url-pattern>
		<url-pattern>/detailBankAccount</url-pattern>
		<url-pattern>/topupMember</url-pattern>
		<url-pattern>/topupMemberInquiry</url-pattern>
		<url-pattern>/topupMemberPayment</url-pattern>
		<url-pattern>/reverseInquiry</url-pattern>
		<url-pattern>/reversePayment</url-pattern>
		<url-pattern>/cashoutMember</url-pattern>
		<url-pattern>/cashoutMemberInquiry</url-pattern>
		<url-pattern>/cashoutMemberPayment</url-pattern>
		<url-pattern>/memberKyc</url-pattern>
		<url-pattern>/kycListData</url-pattern>
		<url-pattern>/createKyc</url-pattern>
		<url-pattern>/searchMember</url-pattern>
		<url-pattern>/searchMemberResult</url-pattern>
		<url-pattern>/upgradeMember</url-pattern>
		<url-pattern>/detailKyc</url-pattern>
		<url-pattern>/detailKycAdmin</url-pattern>
		<url-pattern>/confirmKYC</url-pattern>
		<url-pattern>/kyc</url-pattern>
		<url-pattern>/editKyc</url-pattern>
		<url-pattern>/accessMember</url-pattern>
		<url-pattern>/changeGroup</url-pattern>
		<url-pattern>/topupAgent</url-pattern>
		<url-pattern>/topupAgentInquiry</url-pattern>
		<url-pattern>/topupAgentPayment</url-pattern>
		<url-pattern>/transferAgent</url-pattern>
		<url-pattern>/transferAgentInquiry</url-pattern>
		<url-pattern>/transferAgentPayment</url-pattern>
		<url-pattern>/pos</url-pattern>
		<url-pattern>/posData</url-pattern>
		<url-pattern>/createPos</url-pattern>
		<url-pattern>/createPosForm</url-pattern>
		<url-pattern>/createPosResult</url-pattern>
		<url-pattern>/detailPos</url-pattern>
		<url-pattern>/editPos</url-pattern>
		<url-pattern>/deletePos</url-pattern>
		<url-pattern>/transferType</url-pattern>
		<url-pattern>/transferTypeData</url-pattern>
		<url-pattern>/transferTypeDetail</url-pattern>
		<url-pattern>/transferTypePermissionData</url-pattern>
		<url-pattern>/transferNotificationData</url-pattern>
		<url-pattern>/createTransferNotification</url-pattern>
		<url-pattern>/createTransferNotificationForm</url-pattern>
		<url-pattern>/createTransferNotificationResult</url-pattern>
		<url-pattern>/deleteTransferNotificationForm</url-pattern>
		<url-pattern>/deleteTransferNotificationResult</url-pattern>
		<url-pattern>/editTransferNotification</url-pattern>
		<url-pattern>/editTransferNotificationForm</url-pattern>
		<url-pattern>/editTransferNotificationResult</url-pattern>
		<url-pattern>/createTransferType</url-pattern>
		<url-pattern>/createTransferTypeForm</url-pattern>
		<url-pattern>/createTransferTypeResult</url-pattern>
		<url-pattern>/editTransferType</url-pattern>
		<url-pattern>/editTransferTypeForm</url-pattern>
		<url-pattern>/editTransferTypeResult</url-pattern>
		<url-pattern>/createTransferTypePermission</url-pattern>
		<url-pattern>/createTransferTypePermissionForm</url-pattern>
		<url-pattern>/createTransferTypePermissionResult</url-pattern>
		<url-pattern>/deleteTransferTypePermission</url-pattern>
		<url-pattern>/deleteTransferTypePermissionResult</url-pattern>
		<url-pattern>/fee</url-pattern>
		<url-pattern>/feeData</url-pattern>
		<url-pattern>/feeDetail</url-pattern>
		<url-pattern>/createFee</url-pattern>
		<url-pattern>/createFeeForm</url-pattern>
		<url-pattern>/createFeeResult</url-pattern>
		<url-pattern>/editFee</url-pattern>
		<url-pattern>/editFeeForm</url-pattern>
		<url-pattern>/editFeeResult</url-pattern>
		<url-pattern>/brokerData</url-pattern>
		<url-pattern>/createBroker</url-pattern>
		<url-pattern>/createBrokerForm</url-pattern>
		<url-pattern>/createBrokerResult</url-pattern>
		<url-pattern>/brokerDetail</url-pattern>
		<url-pattern>/editBroker</url-pattern>
		<url-pattern>/editBrokerForm</url-pattern>
		<url-pattern>/editBrokerResult</url-pattern>
		<url-pattern>/createFeeMemberFilter</url-pattern>
		<url-pattern>/createFeeMemberFilterForm</url-pattern>
		<url-pattern>/createFeeMemberFilterResult</url-pattern>
		<url-pattern>/deleteFeeMemberFilter</url-pattern>
		<url-pattern>/deleteFeeMemberFilterResult</url-pattern>
		<url-pattern>/feeMemberFilterData</url-pattern>
		<url-pattern>/group</url-pattern>
		<url-pattern>/groupData</url-pattern>
		<url-pattern>/detailGroup</url-pattern>
		<url-pattern>/createGroup</url-pattern>
		<url-pattern>/notification</url-pattern>
		<url-pattern>/notificationData</url-pattern>
		<url-pattern>/createNotification</url-pattern>
		<url-pattern>/createNotificationForm</url-pattern>
		<url-pattern>/createNotificationResult</url-pattern>
		<url-pattern>/editNotification</url-pattern>
		<url-pattern>/editNotificationForm</url-pattern>
		<url-pattern>/editNotificationResult</url-pattern>
		<url-pattern>/webservice</url-pattern>
		<url-pattern>/webserviceData</url-pattern>
		<url-pattern>/webserviceDetail</url-pattern>
		<url-pattern>/webservicePermissionData</url-pattern>
		<url-pattern>/createWebservice</url-pattern>
		<url-pattern>/createWebserviceForm</url-pattern>
		<url-pattern>/createWebserviceResult</url-pattern>
		<url-pattern>/editWebservice</url-pattern>
		<url-pattern>/editWebserviceForm</url-pattern>
		<url-pattern>/editWebserviceResult</url-pattern>
		<url-pattern>/createWebservicePermission</url-pattern>
		<url-pattern>/createWebservicePermissionForm</url-pattern>
		<url-pattern>/createWebservicePermissionResult</url-pattern>
		<url-pattern>/deleteWebservicePermission</url-pattern>
		<url-pattern>/deleteWebservicePermissionResult</url-pattern>
		<url-pattern>/createMemberFiltering</url-pattern>
		<url-pattern>/createMemberFilteringForm</url-pattern>
		<url-pattern>/createMemberFilteringResult</url-pattern>
		<url-pattern>/deleteMemberFilteringForm</url-pattern>
		<url-pattern>/deleteMemberFilteringResult</url-pattern>
		<url-pattern>/transaction</url-pattern>
		<url-pattern>/transactionInquiry</url-pattern>
		<url-pattern>/transactionPayment</url-pattern>
		<url-pattern>/transactionPaymentResult</url-pattern>
		<url-pattern>/ticket</url-pattern>
		<url-pattern>/ticketInquiry</url-pattern>
		<url-pattern>/ticketConfirmation</url-pattern>
		<url-pattern>/ticketConfirmationResult</url-pattern>
		<url-pattern>*.html</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>